@model navette.Models.UserSociete
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/LayoutLogin.cshtml";
}

<section class="mt-7 py-0">
    <div class="bg-holder w-50 bg-right d-none d-lg-block" style="background-image:url(assets/img/gallery/hero-section-1.png);">
    </div>
    <!--/.bg-holder-->



    <div class="container">
        <div class="row">
            <div class="col-lg-6 py-5 py-xl-5 py-xxl-7">
                <h1 class="display-3 text-1000 fw-normal">Let’s make a tour</h1>
                <h1 class="display-3 text-primary fw-bold">Discover the beauty</h1>
                <div class="pt-5">
                    <nav>
                        <div class="nav nav-tabs voyage-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><span class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-user"> </i></span></button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"> <i class="fas fa-hotel"></i></button>
                        </div>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                @using (Html.BeginForm("Register", "GestionNavette", FormMethod.Post, new { @class = "row g-4 mt-5" }))
                                {
                                    <div class="col-sm-6 col-md-6 col-xl-5">
                                        <div class="input-group-icon">
                                            @Html.ValidationMessageFor(a => a.USER.First_Name, "", new { @Class = "  alert-danger" })
                                            @Html.TextBoxFor(a => a.USER.First_Name, new { placeholder = "Your first name", @class = "form-control input-box form-voyage-control" })<span class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-map-marker-alt"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xl-5">
                                        <div class="input-group-icon">
                                            @Html.ValidationMessageFor(a => a.USER.Last_Name, "", new { @Class = "  alert-danger" })
                                            @Html.TextBoxFor(a => a.USER.Last_Name, new { placeholder = "Your family name", @class = "form-control input-box form-voyage-control" })<span class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-map-marker-alt"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xl-5">
                                        <div class="input-group-icon">
                                            @Html.ValidationMessageFor(a => a.USER.Email, "", new { @Class = "  alert-danger" })
                                            @Html.TextBoxFor(a => a.USER.Email, new { placeholder = "Your email", @class = "form-control input-box form-voyage-control" })<span class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-map-marker-alt"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xl-5">
                                        <div class="input-group-icon">
                                            @Html.ValidationMessageFor(a => a.USER.Password, "", new { @Class = "  alert-danger" })
                                            @Html.PasswordFor(a => a.USER.Password, new { placeholder = "**********", @class = "form-control input-box form-voyage-control" })<span class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-map-marker-alt"></i></span>
                                        </div>
                                    </div>



                                    <div class="col-12 col-xl-10 col-lg-12 d-grid mt-6">
                                        <button class="btn btn-secondary" type="submit">Register</button>
                                    </div>
                                }
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                @using (Html.BeginForm("RegisterCompany", "GestionNavette", FormMethod.Post, new { @class = "row g-4 mt-5" }))
                                {
                                    <div class="col-sm-6 col-md-6 col-xl-5">
                                        <div class="input-group-icon">
                                            @Html.ValidationMessageFor(p => p.societe.Nom_Societe, "", new { @Class = "  alert-danger" })
                                            @Html.TextBoxFor(p => p.societe.Nom_Societe, new { placeholder = " Company name", @class = "form-control input-box form-voyage-control" })<span class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-map-marker-alt"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xl-5">
                                        <div class="input-group-icon">
                                            @Html.ValidationMessageFor(p => p.societe.UserName, "", new { @Class = "  alert-danger" })
                                            @Html.TextBoxFor(p => p.societe.UserName, new { placeholder = "User name", @class = "form-control input-box form-voyage-control" })<span class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-map-marker-alt"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xl-5">
                                        <div class="input-group-icon">
                                        @Html.ValidationMessageFor(p => p.societe.password, "", new { @Class = "  alert-danger" })
                                            @Html.PasswordFor(p => p.societe.password, new { placeholder = "******", @class = "form-control input-box form-voyage-control" })<span class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-map-marker-alt"></i></span>
                                        </div>
                                    </div>



                                    <div class="col-12 col-xl-10 col-lg-12 d-grid mt-6">
                                        <button class="btn btn-secondary" type="submit">Register</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="col-lg-6 py-5 py-xl-5 py-xxl-7">
                <br /><br /><br /><br /><br />

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />


                        <img class="img-fluid" src="~/Content/images/orange-school-bus-hi.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>