@model navette.Models.suggestion
@{
    ViewBag.Title = "Suggest";
    Layout = "~/Views/Shared/LayoutForm.cshtml";
}


<section class="mt-7 py-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 py-5 py-xl-5 py-xxl-7">
                <br /><br /><br /><br /><br />
                <h1 class="display-3 text-primary fw-bold">Please Enter information about your subscription</h1>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        @using (Html.BeginForm("Suggest", "GestionNavette", FormMethod.Post, new { @class = "row g-4 mt-5" }))
                        {


                            <div class="col-sm-6 col-md-6 col-xl-5">
                                <div class="input-group-icon">
                                    <label class="form-label visually-hidden" for="inputPersonOne">Person</label>
                                    @Html.ValidationMessageFor(D => D.Ville_Depart, "", new { @class = "text-danger" })
                                    @Html.TextBoxFor(D => D.Ville_Depart, new { placeholder = " Departure", @class = "form-control input-box form-voyage-control" })
                                    <span class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-bus"> </i></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-xl-5">
                                <div class="input-group-icon">
                                    <label class="form-label visually-hidden" for="inputPersonOne">Person</label>
                                    @Html.ValidationMessageFor(D => D.Ville_Arrive, "", new { @class = "text-danger" })
                                    @Html.TextBoxFor(D => D.Ville_Arrive, new { placeholder = " Arrival", @class = "form-control input-box form-voyage-control" })
                                    <span class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-bus"> </i></span>
                                </div>
                            </div>


                            <div class="col-sm-6 col-md-6 col-xl-5">
                                <div class="input-group-icon">
                                    @Html.ValidationMessageFor(D => D.Heure_depart, "", new { @class = "text-danger" })
                                    @Html.TextBoxFor(D => D.Heure_depart, new { placeholder = "Starts on", @class = "form-control input-box form-voyage-control", onfocus = "(this.type='time')" })

                                    <span class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-clock"></i></span>
                                </div>
                            </div>

                            <div class="col-12 col-xl-10 col-lg-12 d-grid mt-6">
                                <button class="btn btn-secondary" type="submit">Submite</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
